@import './reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';
@import './themes/blue.scss';

.app {
  min-height: 100vh;
  
  background: var(--bg-color);
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
}