@import './reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';

.app {
  min-height: 100vh;

  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 2rem;
}