@import './reset.scss';
@import './variables/global.scss';
@import './themes/normal.scss';
@import './themes/dark.scss';
@import './themes/blue.scss';

.app {
  min-height: 100vh;
  
  background: var(--bg-color);
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}