.title {
  color: var(--primary-color);
}

.description {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--color-error-light);
  }

  .description {
    color: var(--color-error-dark);
  }
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.size_m {
  .title {
    font: var(--font-l);
  }

  .description {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }

  .description {
    font: var(--font-l);
  }
}