.Button {
  display: flex;
  margin: 0 auto;
  padding: .3rem 1rem;

  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: .25rem;
  color: var(--bg-color);
  cursor: pointer;
}


.clear {
  padding: 0;

  border: none;
  background: none;
  outline: none;
}