.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .link {
    width: 0;
    opacity: 0;
    transition: .3s opacity; 
  }
}

.link {
  margin-left: 10px;
  opacity: 1;
}

.icon {
  fill: var(--inverted-primary-color);
}