.LIST {
  .card {
    margin-bottom: 30px;
  }
}

.PLATE {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  .card {
    display: inline-flex;
    margin-bottom: 30px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

