.InputWrapper {
  display: flex;
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.placeholder {
  width: 140px;;
}

.input {
  width: 70%;

  border: 1px solid #4b796a;
  border-radius: 5px;
  outline: none;

  text-shadow: 0 0 0 var(--primary-color);

  &:focus {
    outline: none;
  }
}

.caret {
  width: 10px;
  height: 2px;

  position: absolute;
  bottom: 0;
  left: 0;

  background: var(--primary-color);

  animation: blink 1s forwards infinite;
}

.readonly {
  opacity: .7;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .01;
  }

  100% {
    opacity: 1;
  }
}