.app_blue_theme {
  --bg-color: #7a03ff;
  --inverted-bg-color: #e4e4e4;

  --primary-color: #eeeeee;
  --secondary-color: #dbd7db;
  --inverted-primary-color: #7a03ff;
  --inverted-secondary-color: #af04a4;

  // SKELETON
  --skeleton-color: #6006c7;
  --skeleton-shadow: #6c06e0;

  // CODE
  --code-bg: #b476fa;
}