.app_blue_theme {
  --bg-color: #7a03ff;
  --inverted-bg-color: #e4e4e4;

  --primary-color: #eeeeee;
  --secondary-color: #af04a4;
  --inverted-primary-color: #7a03ff;
  --inverted-secondary-color: #af04a4;
}