.app_dark_theme {
  --bg-color: #313135;
  --inverted-bg-color: #e4e4e4;

  --primary-color: #3dbc9c;
  --secondary-color: #23928b;
  --inverted-primary-color: #313131;
  --inverted-secondary-color: #23928b;

  // SKELETON
  --skeleton-color: #1c726c;
  --skeleton-shadow: #36a78a;

  // CODE
  --code-bg: #ffffff;

  // CARD
  --card-bg: #54545a;
}