.app_light_theme {
  --bg-color: #eaeaea;
  --inverted-bg-color: #313135;

  --primary-color: #313131;
  --secondary-color: #23928b;
  --inverted-primary-color: #3dbc9c;
  --inverted-secondary-color: #23928b;

    // SKELETON
    --skeleton-color: #454646;
    --skeleton-shadow: #6d706f;
}