.Navbar {
  display: flex;
  align-items: center;

  width: 100%;
  height: var(--navbar-height);
  padding: 20px;
  
  background-color: var(--inverted-bg-color);
}

.links {
  margin-left: auto;
  font-weight: 500;

  a {
    text-decoration: none;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }
}

.mainLink {
  margin-right: 15px;
  text-decoration: none;
}